$primary-color : #C5201A;
$secondary-color : #15182A;
$tertiary-color : #22263D;
$background-color : #0A0B16;
$white-color : #ffffff;
$gray-color: #AEB2C9;
$success-color: #46D664;
$error-color: #FF355B;
$info-color: #2F86EB;
$warning-color: #FEBF20;