@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: signika;
}

body {
  color: $black-color;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5em;
  }

  & {
    scrollbar-width: thin;
    scrollbar-color: $primary-color;

    &:hover {
      scrollbar-color: $primary-color transparent;
    }
  }
}

.fond{
  background: linear-gradient(transparent ,#F7941F 95%);
}
.koa{
  -webkit-text-stroke: 2px white;
  color: transparent;
}