@tailwind base;
@tailwind components;
@tailwind utilities;
@import './sass/base/_color.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Signika;
}

body {
  color: $gray-color;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5em;
  }

  & {
    scrollbar-width: thin;
    scrollbar-color: $primary-color;

    &:hover {
      scrollbar-color: $primary-color transparent;
    }
  }
}